.row {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.drops {
  background: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  animation: animatess 10s linear infinite;
  animation-delay: calc(-2s * var(--i));
}

@keyframes animatess {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.drop-1 {
  height: 200px;
  width: 200px;
  top: -100px;
  left: -120px;
  z-index: -1;
  border-radius: 500px;
}
.drop-2 {
  height: 110px;
  width: 110px;
  bottom: -90px;
  right: -50px;
  border-radius: 500px;
}
.drop-3 {
  height: 70px;
  width: 350px;
  bottom: 170px;
  right: -200px;
  z-index: -1;
  transform: rotate(-45deg);
}
.drop-4 {
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}
.drop-5 {
  height: 70px;
  width: 70px;
  top: 200px;
  bottom: 170px;
  left: -210px;
  z-index: -1;
}

